body {
  font-family: "Open Sans", sans-serif;
}
.wrapper {
  max-width: 1340px;
  margin: auto;
}
.top {
  display: flex;
}

.top-button {
  height: 2.1%;
  margin-left: 60%;
  margin-top: 2%;
}

.top-button-right {
  border: 1px solid #fd53c0;
  color: #fd53c0;
  padding: 5px 20px;
  border-radius: 15px;
  background: white;
  text-decoration: initial;
}

.hero {
  text-align: center;
  margin-top: 15%;
  min-height: 33vh;
  height: 330px;
}

.hero-1 {
  font-size: 45px;
  font-weight: bold;
}
.hero-2 {
  padding: 3% 30%;
  color: #34525a;
}
.hero-button {
  border: 1px solid;
  border-radius: 28px;
  padding: 15px 40px;
  text-decoration: initial;
  background: #fd53c0;
  color: white;
}

.image-principal {
  padding: 9.5%;
}

.community {
  display: flex;
  text-align: center;
  margin: 40px 0 120px 0;
}

.Community-image {
  width: 50%;
}

.messages {
  width: 50%;
}

.icon {
  margin-right: 144px;
}

.messaages-p {
}

.seguidores-mensajes {
  font-size: 70px;
  font-weight: bold;
  margin: auto;
}
/*
#image-top {
  position: absolute;
  background: url(../images/bg-section-top-desktop-1.svg) no-repeat top
    center/cover;
  width: 100%;
  height: 35%;
  top: -35%;
  left: 0;
}*/

.grow {
  display: flex;
  /*background-image: url(../images/bg-section-top-desktop-1.svg);*/
}

.grow-text {
  width: 50%;
  padding: 0 143px 0 143px;
  color: #34525a;
}
.grow-image {
  padding: 30px;
}
.flowing {
  display: flex;
  margin: 100px 0 100px 0;
}

.flowing-text {
  width: 50%;
  padding: 0 143px 0 143px;
  color: #34525a;
}
.flowing-image {
  padding: 30px;
}

.users {
  display: flex;
}

.users-text {
  width: 50%;
  padding: 0 143px 0 143px;
  color: #34525a;
}

.users-image {
  padding: 30px;
}

.title-conjunto {
  font-size: 40px;
  font-weight: bold;
}

.build {
  margin: 250px;
  text-align: center;
}
.build-text {
  font-size: 40px;
  font-weight: bold;
}
.build-ancla {
  border: 1px solid;
  border-radius: 30px;
  text-decoration: none;
  font-size: 25px;
  padding: 15px 60px 15px 60px;
  color: white;
  background: #fd53c0;
  margin: 40px 0 0 0;
}

.footer {
  display: flex;
  color: white;
  background: #34525a;
}

.footer-left {
  padding-left: 100px;
}
.footer-text {
  padding-left: 100px;
}

.footer-right {
  padding-right: 270px;
  padding-left: 270px;
}
.footer-p {
  font-size: 40px;
  font-weight: bold;
}
.footer-image {
  padding-left: 50px;
}
.icon {
  padding-left: 90px;
}

.fab {
  display: inline-flex;
  color: white;
  border: 1px solid white;
  width: 33px;
  height: 33px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 13px;
  margin-left: 0.8em;
  margin-top: 10px;
}

.input {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
}

.button {
  color: white;
  background: #fd53c0;
  padding: 10px 17px 10px 17px;
  border: 1px solid #fd53c0;
  border-radius: 5px;
}

@media screen and (max-width: 1024px) {
  body {
  }
  .top-button {
    margin-left: 55%;
  }
  .hero-1 {
    font-size: 35px;
  }
  .hero-2 {
    margin-left: 60px;
    margin-right: 60px;
    font-size: 18px;
    padding: 50px 160px;
  }
  .footer {
    padding: 100px 0;
    width: 1024px;
  }
  .footer-left {
    width: 50%;
    margin-right: 100px;
  }
  .footer-right {
    margin-right: 50px;
    width: 50%;
    padding: initial;
  }
  .footer-text1 {
    padding-right: 65px;
  }
}
@media screen and (max-width: 768px) {
  .top {
    margin-top: 30px;
  }
  .top-button {
    margin-left: 36%;
  }
  .hero-1 {
    font-size: 25px;
  }
  .grow-text {
    width: initial;
    padding: 50px;
  }
  .grow-image {
    padding: 50px;
  }
  .flowing {
    margin: 100px 0 100px 0;
  }
  .flowing-image {
    width: 50%;
  }
  .flowing-text {
    padding: initial;
  }
  .users-text {
    width: 50%;
    padding: 30px;
  }
  .users-image {
    width: 50%;
  }
  .build {
    margin: 200px 50px;
    height: 230px;
  }
  .build-text {
    font-size: 50px;
  }
  .footer {
    display: block;
    padding: 20px 0;
  }
  .footer-image {
    width: 350px;
    margin: initial;
  }
  .footer-left {
    padding: 0 120px;
    margin: initial;
    font-size: 15px;
  }
  .footer-right {
    padding: 0 200px;
  }
  .footer-text1 {
    font-size: 15px;
    padding-right: 150px;
  }
}

@media screen and (max-width: 375px) {
  .wrapper {
    width: min-content;
    border: 1px solid red;
  }
  
  .top-button-right {
    font-size: 25px;
  }
  .top-image{
    width: 170%;
  }
  .top-button-right{
    font-size: 40px;
    margin-left: 30px;
  }
  .hero{
    height: 600px;
    margin-top: 25%;
  }
  .hero-1{
    font-size: 80px;
  }
  .community{
    display: block;
  }
  .grow{
    display: block;
  }
  .grow-text{
    font-size: 60px;
    text-align: center;
  }
  .flowing{
    display: block;
  }
  .flowing-text{
    font-size: 60px;
    text-align: center;
  }
  .users{
    display: block;
  }
  .users-text{
    font-size: 60px;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .wrapper {
    width: min-content;
  }
  .
}
